@CHARSET "UTF-8";
#body .content {
 background-color:#fff
}
body .back {
 line-height:35px;
 font-size:16px;
 color:#68cccc;
 text-align:center;
 border-bottom:1px solid #68cccc
}
body .back a {
 color:#68cccc
}
body .back i {
 line-height:35px
}
body .back span {
 line-height:35px
}
.mt10 {
 margin-top:10px
}
.mt20 {
 margin-top:20px
}
.pl0 {
 padding-left:0
}
.pr0 {
 padding-right:0
}
.book-list .table>tbody>tr>td,.book-list .table>tbody>tr>th,.book-list .table>tfoot>tr>td,.book-list .table>tfoot>tr>th,.book-list .table>thead>tr>td,.book-list .table>thead>tr>th {
 border-top:0 solid #ddd
}
.book-list table .ry-report-table-center .inline {
 display:inline-block;
 vertical-align:top
}
.book-list table .ry-report-table-center .inline img {
 height:34px;
 margin-left:5px;
 margin-right:5px
}
.book-list table .ry-report-table-center .inline ul {
 list-style:none;
 padding-left:0
}
.book-list table .ry-report-table-center .inline a {
 text-decoration:none
}
.book-list .btn-green {
 margin-left:5px;
 padding:0 3px;
 background-color:#2ecc71;
 color:#fff;
 font-family:Microsoft Yahei;
 width:auto
}
#classicalCardsContent hr {
 margin-top:10px;
 margin-bottom:0
}
#classicalCardsContent .paper-img {
 display:inline-block;
 height:80px;
 line-height:80px;
 overflow:hidden;
 position:relative;
 text-align:center;
 width:100%
}
#classicalCardsContent .alert {
 margin-bottom:0
}
#classicalCardContent .tab {
 border-top:1px solid #68cccc;
 line-height:35px;
 background-color:#e8f2f1;
 font-size:11px
}
#classicalCardContent .tab .active {
 border-bottom:2px solid #68cccc
}
#classicalCardContent .h4 {
 color:#68cccc;
 font-size:14px
}
#mistakesContent hr {
 margin-top:10px;
 margin-bottom:0
}
#mistakesContent .paper-img {
 display:inline-block;
 height:80px;
 line-height:80px;
 overflow:hidden;
 position:relative;
 text-align:center;
 width:100%
}
#mistakesContent .alert {
 margin-bottom:0
}
#mistakesContent .info {
 line-height:30px;
 border-bottom:2px solid #f2f2f2;
 border-top:2px solid #f2f2f2;
 color:#a6a6a6;
 font-size:11px
}
#mistakeContent .tab {
 border-top:1px solid #68cccc;
 line-height:35px;
 background-color:#e8f2f1;
 font-size:11px
}
#mistakeContent .tab .active {
 border-bottom:2px solid #68cccc
}
#mistakeContent .h4 {
 color:#68cccc;
 font-size:14px
}
.report-content {
 min-height:300px;
 height:300px
}
.title-style {
 display:block;
 padding-top:8px;
 padding-bottom:8px;
 font-size:14px;
 color:#68cccc;
 border-bottom:1px solid #68cccc
}
.btn-green,.btn-pink,.btn-gray,.btn-grey,.btn-blue,.btn-ryblue {
 font-family:Microsoft Yahei;
 width:auto
}
.btn-green {
 color:#fff;
 background-color:#2ecc71
}
.btn-green:hover,.btn-green.focus {
 color:#fff;
 background-color:#2cc26b
}
.btn-pink {
 color:#fff;
 background-color:#ed5565;
 border-bottom:3px solid #da4453
}
.btn-blue {
 background-color:#4fc1e9;
 border-bottom:3px solid #3bafda;
 color:#fff
}
.btn-ryblue {
 background-color:#2eb9ba;
 border-bottom:3px solid #1da8a9;
 color:#fff
}
.btn-pink:hover,.btn-pink:focus,.btn-blue:hover,.btn-blue:focus,.btn-ryblue:hover,.btn-ryblue:focus {
 color:#fff;
 text-decoration:none;
 outline:0
}
.btn-gray,.btn-grey {
 background-color:#eee;
 border-bottom:3px solid #dad9d9;
 color:#666
}
.btn-none,.btn-none:focus {
 background:0;
 border:0;
 outline:0
}
.btn-100w {
 width:100px
}
.book-root .list-group-item:first-child {
 border-top-left-radius:0;
 border-top-right-radius:0
}
#clazz .btn-default {
 color:#68cccc;
 border-width:0
}
#clazz .btn-default.active,#clazz .btn-default.focus,#clazz .btn-default:hover,.open>.dropdown-toggle.btn-default {
 background-color:#fff;
 border-color:#fff;
 color:#68cccc
}
#clazz .dropdown-menu .active a {
 color:#68cccc;
 background-color:#fff
}
#clazz .dropdown-menu li a {
 color:#a6a6a6
}
.float-left {
 float:left
}
.float-right {
 float:right
}
.font-bold {
 font-weight:bold
}
.over-hide-150 {
 width:150px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 display:inline-block
}
.over-hide-180 {
 width:180px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 display:inline-block
}
.over-hide-260 {
 width:260px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 display:inline-block
}
#edu_aid_card_key {
 height:42px
}
.pt25 {
 padding-top:10px
}
.pl10 {
 padding-right:10px
}
.msg-error {
 color:#cb0001!important;
 float:left
}
.font-gray {
 color:#c6c6c6
}
.font-blue {
 color:#54b7de
}
.font-orange {
 color:#ea5a16
}
.font-green {
 color:green
}
.font-gr {
 color:#5eb62e
}
.font-yellow {
 color:#f5bf1e
}
.table-content-num {
 font-size:16px;
 color:#20cbd4;
 font-weight:bold
}
.fs12 {
 font-size:12px
}
.ml-10 {
 margin-left:-10px
}
.modle-notbuy {
 font-size:18px;
 line-height:29px;
 text-align:center
}
.modle-notbuy span {
 color:orange;
 font-size:24px
}
.modal-dialog {
 margin-left:auto;
 width:300px;
 margin-top:200px;
 margin-right:auto
}
