.left-area{
    background-color: #F4F7FB;
}
.main-view>div.tea-report-navrow{
    background-color: #efefef;
    margin-top: 15px;
    padding-bottom: 0;
}
.main-view>div:nth-child(2){
    background-color: #fff;
}
.main-view>div:first-child + div{
    background-color: #fff;
}
.full-back{
    background-color: #f4f7fb;
}
.main-report-title h1{
    padding: 15px 0;
}
.main-report-title button{
    margin-top: 20px;
    border-radius: 4px!important;
}
.main-report-title>p{
    color: #a6a9ac;
    padding-bottom: 5px;
}
.main-report-title>button{

}
.choose-form>ul{
    border: 1px solid #dde0e4;
    border-top: 0;
    list-style: none;
    padding: 0;
}
.choose-form>ul>li{
    border-top: 1px solid #dde0e4;
    padding: 5px 15px;
    clear: both;
}
.choose-form>ul>li>div{
    padding-right: 15px;
}
.choose-form>ul>li>div:first-child{
    border-right: 1px solid #eeeff1;
    line-height: 64px;
    width: 130px;
    float: left;
    font-size: 16px;
}
.choose-form>ul>li>div>label,.choose-form>ul>li>div>label+label{
    margin: 6px 12px 0 15px!important;
}
.choose-form>ul>li>.pick-class{
    margin-bottom: 5px;
}
.class-rank-table>tbody>tr>td:nth-last-child(1),
.class-rank-table>tbody>tr>td:nth-last-child(2),
.class-rank-table>tbody>tr>td:nth-last-child(3){
    background-color: #fff8e1;
}
.class-rank-table>tbody>tr:hover>td:nth-last-child(1),
.class-rank-table>tbody>tr:hover>td:nth-last-child(2),
.class-rank-table>tbody>tr:hover>td:nth-last-child(3){
    background-color: #fff8e1;
}
.search-stu-input{
    float: right;
}
.page-div{
    float: right;
    line-height: 44px;
}
.page-div>span{
    margin: 0 6px;
}
.table-everypage{
    margin-left: 15px;
}
.table-everypage>button{
    padding: 0 12px;
    height: 34px;
}
.back-home{
    clear: both;
    border-top: 1px solid #e1e4e8;
    background-color: #f1f1f2;
    height: 48px;

}
.back-home>button,
.back-home>button:focus{
    float: right;
    border: 0 ;
    height: 48px;
    line-height: 34px;
    color: #4a5159;
    background-color: #e1e4e8;
    border-radius: 0;
}

.back-home>button:hover{
    float: right;
    border: 0 ;
    height: 48px;
    line-height: 34px;
    color: #fff;
    background-color: #379ad6;
    border-radius: 0;
}
.choose-form>ul>li>div.vaild-score{
    float: left;
    line-height: 64px;
    padding-right: 0;
    height: 64px;
}
.cb{
    padding-bottom:15px;
    height:72px;
    clear:both;
}
.vaild-score button,
.vaild-score button:hover,
.vaild-score button:focus{
    padding: 8px 24px;
    color: #379ad6;
    border-color: #379ad6;
}
.vaild-score button:hover{
    background-color: #f6f9fb;
}
.vaild-score>div{
    margin:  0 0 0 15px;
    overflow:  visible;
}
.vaild-score>div>input{
    width: 50px;
    display: inline;
}
.vaild-score>div>div.ry-drop-down{
    margin: 0 4px;
}
/* .vaild-score>.fl{
    margin-bottom: 4px;
} */
.wrong-input-score{
    clear: both;
    margin: 0 -15px;
    padding: 0 0 0 15px;
    height: 44px;
    line-height: 44px;
    margin-bottom: -5px;
    background-color: #FCE7E7;
    color: #A1403B;
}
.wrong-input-score>span{
    margin-right: 10px;
}
.choose-class{
    margin-top: 7px;
    padding-left: 15px;
    white-space: nowrap;
}
.nav2 li.senior-only>a{
    padding: 6px auto 4px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 13px;
}
.nav2 li.senior-only.active>a{
    padding-bottom: 2px;
}
.senior-only>a>p{
    margin:5px 0 4px 0;
    color: #a6a9ac;
    font-size: 12px;

}
.wrong-rate-legend.legend>span{
    width: 16px;
    border-radius: 8px;
}
.bgc-double-valid,.stu-score-table>tbody>tr:hover>td.bgc-double-valid{
    background-color: #effde6;
}
.stu-score-table>tbody>tr:hover>.bgc-light-orange{background-color: #fff8e1;}
.stu-score-table>tbody>tr:hover>.bgc-light-green{background-color: #daf7cd;}
.scroll{
    overflow: auto;
}
#save-diy-vaild-score{
    background-color: #379ad6;
    color: #fff;
    margin-right: 8px;
}
#save-diy-vaild-score,#cancel-diy-vaild-score{
    padding: 8px 14px;
}
.statistics{
    padding: 15px 0;
}
.statistics>button{
    padding: 6px 15px;
    height: 48px;
    line-height: 36px;
}
.table-title>.fl{
    padding: 15px 0;
    font-weight: bold;
}
.stu-distribute-table tr:hover>td.bgc-light-green{
    background-color: #daf7cd;
}
.question-analyze{
    clear: both;
}
.question-number{
    height: 40px;
    line-height: 26px;
    width: 82px;
    margin: 15px 0 0 20px;
    color: #5c6a77;
    border: 1px solid #ddd;
}
.question-number-white{
    background-color: #fff;
}
.question-number-white:hover,.question-number-white:focus{
    background-color: #f6f9fb;
}
.question-number-white.active{
    background-color: #2eb6bd;
    border: 1px solid #2eb6bd;
}
.question-number-orange{
    background-color: #f9efcd;
}
.question-number-orange:hover,.question-number-orange:focus{
    background-color: #f6f9fb;
}
.question-number-orange.active{
    background-color: #f6ac2d;
    border: 1px solid #f6ac2d;
}
.question-number-red{
    background-color: #ffedf5;
}
.question-number-red:hover,.question-number-red:focus{
    background-color: #f6f9fb;
}
.question-number-red.active{
    background-color: #ee8484;
    border: 1px solid #ee8484;
}
.question-number-white.active,
.question-number-orange.active,
.question-number-red.active{
    color: #fff;
}
.legend .question-number-white,
.legend .question-number-orange,
.legend .question-number-red{
    border: 1px solid #ddd;
}
.question-header{
    border-bottom: 1px solid #e1e4e8;
    height: 30px;
    margin-bottom: 10px;
}
.question-header span{
    display: inline-block;
    background-color: #fff;
    color: #26b7bc;
    margin-top: 18px;
    padding-right: 15px;
    font-size: 18px;
}
.question-info{
    border-bottom: 1px dashed #e1e4e8;
    padding: 15px 0;
}
.question-info>h3{
    border-left: 4px solid #26b7bc;
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
}
.answer-info>h3,.answer-info>div{float: left;}
.answer-info{
    overflow: hidden;
}
.question-pic{
    padding-top: 15px;
}
.question-step-analyze{
    overflow: hidden;
    padding: 6px 0;
    background-color: #F7FAFC;
    line-height: 32px;
}
.question-step-analyze>div{
    margin: 0 15px;
}
.question-step-analyze span{
    font-weight: bold;
    margin-right: 25px;
}
.option-rate{
    padding-top: 15px;
}
.option-rate>div:first-child{
    height: 220px;
    padding-right: 0;
}
.option-rate>div>table.ry-table-striped>tbody>tr{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.option-rate>div>table.ry-table-striped>tbody>tr:hover{
    border-left: 1px solid #26b7bc;
    border-right: 1px solid #26b7bc;
}
.option-rate>div>table.ry-table-striped>tbody>tr>td{
    text-align: left;
    padding-left: 15px;
}
.option-rate>div>table>tbody>tr>td:first-child{
    width: 140px;
    vertical-align: middle;
    padding-left: 35px;
    background-color: #f1f1f2;
}
.option-rate>div>table>tbody>tr>td>img{
    float: left;
    margin-left: -26px;
    margin-right: -28px;
}
.excellent-answer{
    height: 26px;
    line-height: 26px;
    padding-left: 15px;
}
.excellent-info{
    border-bottom: 0;
}





















