.fr{
    float: right;
}
.fl{
    float: left;
}
.c-orange{
    color: #FD8257;
}
.c-ry-blue{
    color: #24c8c8;
}
.btn-bgc-blue,
.btn-bgc-blue:hover,
.btn-bgc-blue:focus{
    background-color: #379AD6;
    color: white;
}
.table-green{
    background-color: #99CC82;
    color: white;
}
.table-blue{
    background-color: #83CDD2;
    color: white;
}
.table-gray{
    background-color: #EFEFEF;
}
#body .content{
    background-color: #4DAF60;
}
.title-nm-center {
    background: url("../img/subject_banner_name.png?__sprite") no-repeat center;
    height: 56px;
    text-align: center;
}
.head-title>a,
.head-title>.title-nm-center{
    padding:0;
}
.head-title>.title-nm-center{
    height: 50px;
    line-height: 38px;
    color: #000;
    margin: 13px 0;
    background-size: 80% 50px;
}
#scoreTab{
    margin-bottom: 0;
}
#scoreTab thead tr {
    height: auto;
}
.phs-comp>h4,
.holland .panel-body h4{
    text-align: left;
    color: #5a5a5a;
    font-size: 16px;
}
.phs-comp>table>thead>tr{
    background-color: #EFEFEF;
    text-align: left;
}
.phs-comp>table>tbody>tr>td>span.c-ry-blue{
    font-size: 16px;
}
.ry-check-div{
    float: left;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 0 8px 8px;
    cursor: pointer;
}
.ry-check-div.checked{
    border: 1px solid #26b7bc;
    color: #26b7bc;
}
.diy-phs-comp .sub-list{
    width: 80%;
    float: left;
    padding-right: 5px;
}
#startCalculate{
    width: 20%;
    max-width: 70px;
    height: 70px;
    word-wrap: break-word;
    word-break:break-all; 
    padding: 13px 0;
    margin-bottom: 15px;
}
.whats-holland {
    background-color: #F4F4F4;
    padding-left: 10px;
    background: #F4F4F4;
}
.holland .tip{
    margin: 10px 0 15px;
}
.holland .tip ul{
    padding-left: 12px;
}
.holland-echart {
    height: 200px;
}
#holland-report-button{
    width: 100%;
    font-size: 16px;
}
.wrong-input-score{
    background-color: #EA9999;
    color: #FFF;
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius: 4px;
}
.table-close{
    float: right;
    position: relative;
    height: 2px;
    bottom: 7px;
    right: -5px;
}
.table-close>span{
    display: inline-block;
    line-height: 15px;
    height: 15px;
    width: 15px;
    background-color: #E2706F;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}






.my-holland p{
    margin: 10px 0 0;
}
.my-holland .category-name{
    border-top: 1px dotted #CCC;
    color: #24C8C8;
    margin: 15px 0 0;
    padding: 10px 0 0;
}
.disclaimer{
    margin-top: -10px;
    margin-bottom: 20px;
    color: #E1E1E1;
}
