.fr{
    float: right;
}
.fl{
    float: left;
}
.c-orange{
    color: #FD8257;
}
.btn-bgc-blue,
.btn-bgc-blue:hover,
.btn-bgc-blue:focus{
    background-color: #379AD6;
    color: white;
}
.table-green{
    background-color: #99CC82;
    color: white;
}
.table-blue{
    background-color: #83CDD2;
    color: white;
}
.table-gray{
    background-color: #EFEFEF;
}
#introduction{
    background: url("../img/subject_banner_bg.png?__sprite") no-repeat center;
}
#introduction .title-nm-center h4 {
    color: #000;
}
#introduction .title-nm-center {
    background: url("../img/subject_banner_name.png?__sprite") no-repeat center;
    height: 56px;
}
#introduction img.center-block{
    margin-top: 38px;
}
.ry-report-table thead{
    background-color: #EFEFEF;
    color: #555;
}
.sequence-menu{
    filter: Alpha(opacity=20);
    background-color: rgba(0,0,0,0.2);
}
.phs-comp{
    margin-top: 30px;
}
.phs-comp-title{
    line-height: 48px;
}
.phs-comp-title h4{
    font-family: Microsoft YaHei;
    line-height: 48px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.phs-comp-title h4 small{
    color: white;
    font-size: 14px;
}
.phs-comp-title>.fr>span{
    font-weight: bold;
}
.phs-comp-container-title{
    padding: 0  0;
    border-bottom: 1px solid #DDD;
    clear: both;
    background-color: #F7F7F7;
}
.phs-comp-container{
    padding: 15px 15px 10px;
    border-bottom: 1px dotted #DDD;
    clear: both;
    background-color: #F7F7F7;
}
.phs-comp-container .delete-button{
    margin: 23px 23px 0 0;
}
.phs-comp-container .delete-button>a{
    color: #E47170;
}
.phs-comp-container>div{
    border-left: 1px solid #DDD;
}
.phs-comp-container>div:first-child{
    border-left: 0;
}
p.choose-sub-ranktitle{
    color: #888;
    font-weight: bold;
    margin: 0;
}
p.choose-sub-ranktitle,
p.choose-sub-rank{
    text-align: center;
}
p.choose-sub-ranktitle>b{
    font-weight: bold;
    color: #333;
}
.choose-sub-div{
    background-color: #F7F7F7;
    padding: 0 15px 15px;
}
.choose-sub-div>.phs-comp-container-title{
    padding: 15px 0;
}
.choose-sub-div>.phs-comp-container > div{
    border-left: 0;
}
.choose-sub-rank{
    margin-bottom: 0;
}
.choose-sub-name{
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 0;
}
.choose-sub-rank>span{
    font-size: 16px;
}
.choose-sub-rank>span:first-child{
    color: #24C8C8;
    font-size: 42px;
}
.phs-comp-title>.fr .form-control{
    float: left;
    width: 116px;
    margin: 7px 0 0 15px;
}
.phs-comp-title>.fr .form-control.error{
    border-color: #E47170;
}
.phs-comp-title>.fr button{
    float: left;
    margin: 7px 0 0 15px;
}
.wrong-input-score, .wrong-input-search {
    clear: both;
    padding: 0 0 0 15px;
    height: 44px;
    line-height: 44px;
    background-color: #FBE4E4;
    color: #a1403b;
    border: 1px solid #EBCCD1;
}
.tip.default {
    background: url("../img/FE_tip_tag.png?__sprite") no-repeat 15px 15px #f7f3db;
}
.tip.default>ul{
    margin-bottom: 0;
}
.whats-holland{
    background-color: #F4F4F4;
    line-height: 24px;
}
.holland-title{
    border-left: 4px solid #24C8C8;
    line-height: 38px;
    padding-left: 20px;
}
.holland p{
    text-align: center;
}
#holland-report-button,
#holland-report-button:hover,
#holland-report-button:focus{
    padding: 14px 0;
    color: white;
}
.holland-echart{
    height: 200px;
}





#body .content.bgc-white{
    background-color: #fff;
}
.back-btn-area {
    margin-top: 12px;
}
.record-type {
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.record-type .blue {
    background-color: #30b2e6;
    border-radius: 0 0 6px 6px;
    font-size: 22px;
}
.download-report{
    padding:12px 18px;
}
.my-holland p{
    margin: 10px 0 0;
}
.my-holland .category-name{
    border-top: 1px dotted #CCC;
    color: #24C8C8;
    margin: 15px 0 0;
    padding: 10px 0 0;
}
.disclaimer{
    margin-top: -10px;
    margin-bottom: 20px;
    color: #777;
}