html{font-size:62.5%;} 
body{font-size:12px;font-size:1.2rem ;} 
p{font-size:14px;font-size:1.4rem;}
@media only screen and (min-width: 320px){
    html{font-size: 70% !important;}
}
@media only screen and (min-width: 640px){
    html{font-size: 80% !important;}
}
.mt15{
    margin-top: 15px;
}
.mb0{
    margin-bottom: 0;
}
.fl {
    float: left !important;
}
.tac{
    text-align: center;
}
.c-green{
    color: #8cc21f;
    font-weight: bold;
}
.c-orange{
    color: #f6ac2d;
    font-weight: bold;
}
.c-red{
    color: #ee8484;
    font-weight: bold;
}
.c-blue{
    color: #38beef;
    font-weight: bold;
}
.c-gray{
    color: #a6a9ac;
}
.color-ry-blue{
    color: #26B7BC;
}
.bgc-green{
    background-color: #8cc21f;
}
.bgc-light-green{
    background-color: #daf7cd;
}
.bgc-orange{
    background-color: #f6ac2d;
}
.bgc-light-orange{
    background-color: #fff8e1;
}
.bgc-yellow{
    background-color: #fde343;
}
.bgc-red{
    background-color: #ee8484;
}
.bgc-light-red{
    background-color: #ffedf5;
}
.bgc-blue{
    background-color: #38beef;
}
.bgc-light-blue{
    background-color: #e1f6fb;
}
.ry-table-striped > tbody {
    border-bottom: 1px solid #ddd;
}
.ry-table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.ry-table-striped > tbody > tr > td, .ry-table-striped > thead > tr > th {
    text-align: center;
    padding: 12px 0;
        padding-left: 0px;
}
.nav3>li>a:focus{
    background-color: #fff;
}
.nav3>li:first-child{
	margin-bottom: 15px;
}
.nav3>li+li{
    margin-bottom: 15px;
    margin-left: 12px;
}
.nav3>li>a{
    background-color: #efefef;
    color: #5c6a77;
}
.nav3>li.active>a,.nav3>li.active>a:hover {
    background-color: #26b7bc!important;
    color: #fff;
}
.nav1>li>a:hover,.nav1>li>a:focus,
.nav3>li>a:hover,.nav3>li>a:focus{
    background-color: #fff;
}
.nav3 li.active>a{
    font-weight: bold;
}
.nav5>li+li{
    box-sizing: border-box;
    float: left;
    display: block;
    position: relative;
    margin-left: 0;
}
.nav5 li:first-child{
    box-sizing: border-box;
    float: left;
    display: block;
    position: relative;
}
.nav5 li>a:hover,.nav5 li>a:focus{
    background-color: #FFF;
}
.nav5 li.active>a,.nav5 li.active>a:hover,.nav5 li.active>a:visited{
    background-color: #FFF;
    color: #26b7bc;
    border-bottom: 2px solid #26b7bc;
}
.nav5 li a{
    border-bottom: 2px solid #e1e4e8;
    box-sizing: border-box;
    display: block;
    padding: 10px 15px;
    position: relative;
    color: #4a5159;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}
a, a:active {
    text-decoration: none;
    color: #379ad6;
}
.ry-table-striped>thead{
    background-color: #efefef;
    text-align: center;
}
.ry-table-striped>thead>tr>th span.table-button{
    display: inline-block;
    width: 10px;
    height: 15px;
    padding: 4px 0 0 5px;
}
.ry-table-striped>tbody{
    border-bottom: 1px solid #ddd;
}
.ry-table-striped>thead>tr>th{
    text-align: center;
    border: 0;
}
.ry-table-striped > tbody > tr{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: center;
}
.ry-table-striped > tbody > tr>td,
.ry-table-striped > thead > tr>th{
    text-align: center;
    padding: 12px 0;
}
.ry-table-striped > tbody > tr:hover{
    border-left: 1px solid #26bcb7;
    border-right: 1px solid #26bcb7;
}
.ry-table-striped > tbody > tr:hover>td{
    border-top: 1px solid #26bcb7;
    border-bottom: 1px solid #26bcb7;
    background-color: #fff;
}
.ry-table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #fff;
}
.ry-table-striped > tbody > tr:nth-of-type(2n){
    background-color: #f6f9fb;
}
.question-info > h3 {
    border-left: 4px solid #26b7bc;
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: bold;
}
#body .content {
    background-color: #FFF;
    padding-bottom: 0;
}
.head-title{
    background-color: #26b7bc;
}
.head-title>a{
    color: #FFF;
    line-height: 40px;
    margin: 5px 0 0 15px;
}
.exam-title{
    padding-right: 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.exam-data{
    padding-left: 0;
    text-align: right;
}
.exam-title,.exam-data{
    background-color: #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
}
.exam-content{
    background-color: #FFF;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
    padding: 10px 15px;
}
.exam-content .check-point{
    border-bottom: 2px solid #DDD;
    padding-bottom: 10px;
}
.choose-nav.nav5>li{
    padding: 0;
}
.question-card{
    margin-top: 20px;
    border: 2px solid #CEEEF6;
    border-radius: 6px;
}
.question-card>h3{
    color: #666;
    background-color: #CEEEF6;
    margin: 0;
    line-height: 40px;
    font-size: 1.4rem;
    padding-left: 10px;
}
.question-card>div{
    padding: 10px;
}
.question-card>div>img{
    width: 100%;
}
#option-rate-echart{
    height: 120px;
}

/* 答题卡页 */

.card-stu-name{
    font-size: 1.4rem;
}
.card-stu-name>tbody>tr>td:first-child{
    background-color: #EEE;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}
.card-stu-name>tbody>tr>td.right{
    background-color: #9BCA7D;
    color: #FFF;
}
.card-stu-name a{
    display: inline-block;
    padding: 10px;
    width: 32%;
    text-align: center;
    color: #379AD6;
}

/* 学生的考点掌握度 */

.stu-point-rate-table thead tr td{
    background-color: #26B7BC;
    color: #FFF;
    padding: 12px 8px;
}
.stu-point-rate-table td{
    border-right: 1px solid #DDD;
}
#scoring-average{
    height: 280px;
}
/* 书籍列表 */
.book-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.book-list>li{
    border-bottom: 1px solid #DDD;
}
.book-list>li a{
    display: block;
    color: #5A5A5A;
    padding: 10px 15px;
}
.book-list>.book-year{
    color: #26B7BC;
    padding: 10px 15px;
}
.book-list>li.disable a{
    color: #BBB;
}
/* 总表 */
.head-title h2.pull-left {
    text-indent: 0;
    font-size: 1.6rem;
    padding-left: 15px;
    max-width: 220px;
    color: #fff;
    line-height: 38px;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.head-title select.pick-class{
    margin-top: 13px;
    margin-right: 5px;
}
.msgcontent-legend {
    font-size: 1.1rem;
    display: table;
    border-bottom: 1px solid #dde0e4;
    line-height: 36px;
    padding-right: 0;
}
.msgcontent-legend span {
    display: inline-block;
    height: 16px;
    width: 28px;
    margin: 0 6px -3px;
}
.book-title-msg{
    padding: 5px 15px;
    font-size: 1.1rem;
}
.msgcontent{
    padding: 0;
}
.msgcontent table{
    table-layout: fixed;
    font-size: 1.2rem;
}
.msgcontent table td{
    padding: 10px 0;
    text-align: center;
    border: 1px solid #CFCFCF;
}
.msgcontent table td.bgc-blue{
    background-color: #F6F9FB;
}
.msgcontent table tbody td:first-child{
    text-align: left;
    padding-left: 15px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.msgcontent table tbody td:last-child{
    width: 15%;
}
/* 考点概述 */
.kdgs-nav>ul>li{
    width: 33.3%;
}
#dfl_chart{
    height: 300px;
}
.stu-zwqk-ul{
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #DDD;
    margin-right: -15px;
}
.stu-zwqk-ul>li{
    border-bottom: 1px solid #DDD;
}
.stu-zwqk-ul>li>a{
    color: #959595;
    display: block;
    text-decoration: none;
    padding: 10px 0;
}
.exam-data span.bgc-red,
.exam-data span.bgc-green,
.stu-zwqk-ul>li>a span.bgc-red,
.stu-zwqk-ul>li>a span.bgc-green{
    width: 12px;
    border-radius: 6px;
    display: inline-block;
    height: 12px;
    margin: 0 5px 0;
}
.stu-zwqk-ul>li>a h4{
    margin-top: 0;
    color: #5A5A5A;
}
.stu-zwqk-ul>li>a .more-icon{
    line-height: 48px;
    font-size: 14px;
    padding-right: 10px;
}
.more-stu-btn{
    margin: 4px 0;
    padding: 12px;
    background-color: #EEE;
}
.more-stu-btn:focus,
.more-stu-btn:hover{
    color: #379ad6;
}


















