html,body {
 color:#5a5a5a;
 font-family:Microsoft YaHei,Simsum,serif;
 overflow-x:hidden
}
a:hover,a:focus {
 outline:0
}
#head {
 border-bottom:1px solid #eee
}
#head .container {
 max-width:768px
}
.navbar-wrapper>.container {
 padding-right:0;
 padding-left:0
}
.navbar-wrapper .navbar {
 padding-right:15px;
 padding-left:15px
}
#head .navbar-toggle {
 border-color:#2eb9ba;
 padding:0 10px;
 margin-bottom:5px;
 margin-right:8px;
 color:#2eb9ba;
 font-size:20px
}
.navbar-wrapper .navbar .container {
 width:auto
}
.navbar-wrapper .logo {
 background:url("../img/logo_mini.png?__sprite") no-repeat;
 width:120px;
 height:40px;
 display:inline-block;
 margin:10px auto 0
}
.call-num {
 font-size:10px
}
.navbar-wrapper .nav-ry>li {
 float:left;
 margin:0 10px
}
.navbar-wrapper .nav-ry>li>a:focus,.nav-ry>li>a:hover {
 background-color:inherit;
 border-bottom:3px solid #2eb9ba
}
.navbar-wrapper .nav-ry>li>a {
 color:#333;
 font-size:1.2em;
 padding-bottom:10px
}
.navbar-wrapper .nav-ry .active {
 background-color:inherit;
 border-bottom:3px solid #2eb9ba
}
.navbar-wrapper .nav-ry .active a:focus,.navbar-wrapper .nav-ry .active a:hover {
 border-bottom:0
}
.navbar {
 margin-bottom:inherit
}
.nav-info>li>a {
 color:#2eb9ba;
 padding:0;
 margin:5px 0 5px 15px
}
.nav-info>li>a:focus,.nav-info>li>a:hover {
 background-color:inherit;
 text-decoration:underline
}
.nav-info .open>a,.nav-info .open>a:focus,.nav-info .open>a:hover {
 background-color:inherit
}
.dropdown-ry li a:hover,.dropdown-ry li a:focus,.dropdown-ry li a:active,.dropdown-ry li.active a,.dropdown-ry li.active a:hover,.dropdown-ry .dropdown-submenu:hover>a,.nav-tabs .dropdown-ry li>a:focus {
 background:#3bc9cb;
 color:#fff
}
.nav-info .dropdown-ry:before {
 border-bottom:7px solid rgba(0,0,0,0.2);
 border-left:7px solid transparent;
 border-right:7px solid transparent;
 content:"";
 display:inline-block;
 left:9px;
 position:absolute;
 top:-7px
}
.nav-info .dropdown-ry:after {
 border-bottom:6px solid #fff;
 border-left:6px solid transparent;
 border-right:6px solid transparent;
 content:"";
 display:inline-block;
 left:10px;
 position:absolute;
 top:-6px
}
.nav-info .dropdown-ry.dropdown-menu-right:before {
 left:auto;
 right:9px
}
.nav-info .dropdown-ry.dropdown-menu-right::after {
 left:auto;
 right:10px
}
#body {
 background-color:#eee
}
#body .content {
 background-color:#5bd1c5;
 padding-bottom:10px
}
#body .container {
 max-width:768px
}
#body .menu-right .header {
 line-height:20px;
 padding:10px;
 border-bottom:1px solid #ccc;
 color:#999;
 font-weight:bold;
 background-color:#ddd
}
#body .menu-right .header.active {
 border-right:3px solid #0c9798;
 color:#fff;
 background-color:#2eb9ba
}
#body .menu-right .header a {
 display:block
}
#body .secMenu,#body .menu-right {
 line-height:50px
}
#body .secMenu {
 background-color:#f9f9f9;
 border-bottom:1px solid #e8e8e8
}
#body .secMenu a,#body .menu-right a {
 font-size:1.1em
}
#body .secMenu a {
 color:#333
}
#body .secMenu a:hover,#body .secMenu a:focus,#body .secMenu li.active a,#body .menu-right a:hover,#body .menu-right a:focus,#body .menu-right li.active a {
 text-decoration:none;
 background-color:inherit
}
#body .secMenu a:hover,#body .secMenu a:focus,#body .secMenu li.active a {
 color:#2eb9ba
}
#body .menu-right a {
 color:#888
}
#body .menu-right a:hover,#body .menu-right a:focus,#body .menu-right li.active a {
 color:#2eb9ba
}
#body .menu-right li.active:before {
 font-family:'Glyphicons Halflings';
 content:"\e250";
 float:right;
 color:#2eb9ba;
 margin-top:-3px;
 margin-bottom:-6px
}
#body .menu-right li {
 border-bottom:1px solid #ddd
}
#body .menu-right .navbar-nav {
 margin-top:0;
 margin-bottom:0
}
.m-back {
 width:35px;
 height:35px;
 line-height:35px;
 border-radius:50%;
 background-color:#f0f0f0;
 text-align:center;
 font-size:18px;
 margin:4px 10px;
 border:1px solid #eaeaea;
 -moz-box-shadow:0 1px 1px #ccc;
 -webkit-box-shadow:0 1px 1px #ccc;
 box-shadow:0 1px 1px #ccc;
 background:-webkit-linear-gradient(#fff,#eaeaea);
 background:-o-linear-gradient(#fff,#eaeaea);
 background:-moz-linear-gradient(#fff,#eaeaea);
 background:linear-gradient(#fff,#eaeaea)
}
a .m-back {
 color:#5a5a5a
}
.head-title h2 {
 font-size:18px;
 color:#fff;
 line-height:40px;
 margin-top:5px;
 text-align:center
}
.head-title h2 {
 text-indent:-35px
}
h1.title {
 text-align:center;
 font-weight:bold;
 font-size:48px;
 margin-top:0;
 color:#f7fcaf;
 background-image:-webkit-gradient(linear,0 0,0 bottom,from(rgba(247,253,175,1)),to(rgba(255,235,154,1)));
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.text-overflow {
 word-break:keep-all;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis
}
#rightMenu {
 min-height:615px;
 background-color:#fafafa;
 max-width:486px
}
#footer {
 margin-left:-20px;
 padding-left:20px;
 padding-right:20px;
 height:35px;
 background-color:#666
}
#footer a {
 color:#e3e3e3
}
#footer .container {
 padding-left:0;
 max-width:768px
}
#footer p {
 margin:5px 0
}
#footer .follow-weixin strong {
 padding-left:5px;
 color:#e3e3e3;
 font-weight:normal
}
#footer .wechat-footer {
 color:#c6c6c6
}
#footer .wechat-footer:before {
 content:""
}
#footer .wechat-footer .wechat {
 background:url("../../img/weixin-logo.png?__sprite") no-repeat 0 3px;
 height:20px;
 width:75px;
 display:inline-block;
 text-indent:20px
}
.row-offcanvas {
 position:relative;
 -webkit-transition:all .25s ease-out;
 -o-transition:all .25s ease-out;
 transition:all .25s ease-out
}
.row-offcanvas-right {
 left:0;
 min-height:615px
}
.row-offcanvas-left {
 position:relative;
 -webkit-transition:all .25s ease-out;
 -o-transition:all .25s ease-out;
 transition:all .25s ease-out;
 left:0
}
.row-offcanvas-right .sidebar-offcanvas {
 left:-65%
}
.row-offcanvas-left .sidebar-offcanvas-left {
 left:-65%
}
.row-offcanvas-right.active {
 left:65%
}
.row-offcanvas-left.active {
 left:65%
}
.sidebar-offcanvas {
 position:absolute;
 top:0;
 width:65%
}
.sidebar-offcanvas-left {
 padding-left:30px;
 position:absolute;
 top:0
}
.row-offcanvas-left .panel-menu {
 border-width:0;
 display:none
}
.row-offcanvas-left.active .panel-menu {
 display:block
}
.sidebar-offcanvas .user-header {
 width:175px;
 margin:5px auto
}
.sidebar-offcanvas .user-header .img-head {
 width:50px;
 float:left
}
.sidebar-offcanvas .user-header .dropdown {
 margin-top:10px
}
.closeBtn {
 position:absolute;
 width:55px;
 height:55px;
 right:10px;
 top:10px;
 border:0;
 background:0
}
@media(max-width :370px) {
 .hidden-xxs {
  display:none!important
 }
}
